<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gong.bmw">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icons8_skull"
        android:label="@string/my_app_name"
        android:roundIcon="@mipmap/icons8_skull"
        android:supportsRtl="true"
        android:theme="@style/FullWindowTheme">
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PlayActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>
